@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap');
@media (prefers-color-scheme: dark){
    :root{
        --border:#3b3b3b;
        --light:#fff;
        --dark:#242424;
        --backborder:#292929;
        --back:#242424;
        --color:#ff6600;
        --color2:#a8531a;
        --ccc:#ccc;
        --tranback: rgba(41, 41, 41,.4);
        --tranborder:#5687d6;
        --brodernotran:#2129b5;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --border:#d4d4d4;
        --light:#242424;
        --dark:#fff;
        --backborder:#f2f2f2;
        --back:#fff;
        --color:#ff6600;
        --color2:#a8531a;
        --ccc:#ccc;
        --darkback: rgba(41, 41, 41,.6);
        --tranback: rgba(58, 61, 110,.6);
        --tranborder:#5687d6;
        --brodernotran:#2129b5;
    }
}
body{
    outline:none;
    border:none;
    margin:none;
    padding:none;
    background-color:var(--back);
    background-image: none;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align:center;
    font-family: IBM Plex Sans;
    color:var(--light);
    transition: background 1s;
}

.replit-auth-button{
    color: var(--back);
    background-color: var(--light);
    background-size: 18px;
    background-position: 16px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 44px;
    font-weight: 600;
    line-height: 40px;
    width: 270px;
    height: 44px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.side{
    float:left;
    position:fixed;
    top:25px;
    left:0px;
    background:var(--dark);
    height:100%;
    width:200px;
    border-right: .5px solid var(--border);
}
.side a{
    height:35px;
    padding:3px;
    display:block;
    border-left: 2px solid var(--dark);
    line-height:35px;
    transition:.1s all;
}

.sidea{
    cursor:pointer;
}
.sidea:hover{
    background:var(--tranborder);
    border-left: 2px solid #2129b5;
}

.top{
    color:#fff;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:25px;
    background:#2129b5;
    line-height:25px;
    font-weight:600;
}

.mail{
    float:left;
    position:fixed;
    top:25px;
    left:201px;
    background:var(--dark);
    width:300px;
    height:100%;
    border-right: .5px solid var(--border);
}

.mail a{
    padding:3px 5px;
    display:block;
    border-left: 2px solid var(--dark);
    line-height:35px;
    transition:.1s all;
}

.maila{
    height:100px;
    border-bottom: .5px solid var(--border);
    text-align:left;
    cursor:pointer;
}
.maila:hover{
    background:var(--tranborder);
    border-left: 2px solid #2129b5;
}

.username{
    height:25px;
    font-size:13px;
}
.about{
    font-weight:700;
    font-size:16px;
    height:25px;
}



.desc{
    font-size:13px;
    height:25px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.read{
    position:fixed;
    top:25px;
    left:502px;
    background:var(--dark);
    height:100%;

    width:calc(100% - 502px);
}

.read a{
    height:35px;
    padding:3px;
    display:block;
    border-left: 2px solid var(--dark);
    line-height:35px;
    transition:.1s all;
}

.from{
    padding:5px;
    float:left;
}
.readabout{
    padding:5px;
    float:left;
}

.readdesc{
    padding:5px;
    float:left;
}

.sendto{
    position:fixed;
    border:none;
    color:var(--light);
    left:0px;
    height:30px;
    width:100%;
    background:var(--dark);
    border-bottom:1px solid var(--border);
    transition:.1s all;
}

.sendto:focus{
    border-bottom:1px solid #2129b5;
    outline:none;
}

.message{
    resize:none;
    position:fixed;
    border:none;
    color:var(--light);
    left:0px;
    top:91px;
    height:calc(100% - 142px);
    width:100%;
    background:var(--dark);
    transition:.1s all;
}
.message:focus{
    outline:none;
}

.send{
    cursor:pointer;
    color:#fff;
    border-radius:10px;
    border:none;
    background:#2129b5;
    position:fixed;
    left:0px;
    bottom:5px;
    width:99%;
    height:35px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
    font-weight:600;
    transition:.1s all;
}
.send:hover{
    background:var(--tranborder)
}
