<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
    <div style="position:relative;">
        <div class="top" id="top">Booogle Mail</div>
        <div class="side">
          <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);">Menu</a>
          <a class="sidea" style="outline:1px solid var(--color);" href="/home">Inbox</a>
          <a class="sidea" href="/write">New</a>
          <a class="sidea" href="sent">Sent</a>
            <a class="sidea" href="/clear">Clear Inbox</a>
            <a class="sidea" href="/users">Block A User</a>
            <a class="sidea" href="https://replit.com/@GoodVessel92551/ReplTask"><span style="color:var(--red);font-weight:600;">New!</span> ReplTask</a>
            <a class="sidea" href="https://booogle-two.goodvessel92551.repl.co/">Go to Booogle</a>
            <a class="sidea" href="/feedback">Feedback</a>
            <a class="sidea" href="https://replit.com/@GoodVessel92551">Follow Me</a>
            <a class="sidea" href="__repl">Like</a>
        </div>
        <div class="mail2">
            <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);height:35px;" class="title">Inbox</a>
            <div class="mail" id="mail"><div>
        </div>
        <div class="read">
            <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);">Mail</a>
            <div id="from" class="from"></div><br><br>
            <div id="about" class="readabout"></div><br><br><br>
            <div id="desc" class="readdesc"></div>
            <div id="bin" id="id" onclick="deleteIt()" class="delete">delete</div>
            <div id="block" id="block" onclick="window.open('/users','_self')" class="block">person_off</div>
        </div>
    </div>
    <script>
        emails = {{newmail|tojson}};
        name = {{name|tojson}}
        document.getElementById("top").innerText = "Booogle Mail - "+name
        var num = 0
        var mail, id
        var i = 0
        var delay = (emails.length/5)*0.3+0.3
        function read(a) {
            document.getElementById("from").innerText = "From: "+emails[5*a+1]
            document.getElementById("about").innerText = "About: "+emails[5*a+2]
            desc = emails[5*a+3]
            document.getElementById("desc").innerText = desc
            id = emails[5*a+4]
        }
        function make() {
            mail = document.getElementById("mail")
            while (i < emails.length) {
                i++
                var maila = document.createElement('button')
                var username = document.createElement('div')
                var about = document.createElement('div')
                var desc = document.createElement('div')
                maila.id = num
                username.id = num
                about.id = num
                desc.id = num
                maila.style.animationDelay = delay+"s"
                delay -= 0.3
                maila.classList.add("maila")
                username.classList.add("username")
                about.classList.add("about")
                desc.classList.add("desc")
                username.innerText = emails[i++]
                about.innerText = emails[i++]
                desc.innerText = emails[i++]
                maila.appendChild(username)
                maila.appendChild(about)
                maila.appendChild(desc)
                mail.insertBefore(maila,mail.children[0])
				maila.addEventListener("click",(e) => {
                    read(e.target.id)
				})
				username.addEventListener("click",(e) => {
                    read(e.target.id)
				})
				about.addEventListener("click",(e) => {
                    read(e.target.id)
				})
				desc.addEventListener("click",(e) => {
                    read(e.target.id)
				})
                num++
                i++
                read(num-1)
            }}
        make()
        function deleteIt() {
            if (emails.length != 0){
                window.open("/delete?id="+id,"_self")
            }
        }
    </script>
    <script src="/static/app.js"></script>
</body>
</html>