<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
    <div style="position:relative;">
        <div class="top" id="top">Booogle Mail</div>
        <div class="side">
          <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);">Menu</a>
          <a class="sidea" href="/home">Inbox</a>
          <a class="sidea" href="/write">New</a>
          <a class="sidea" style="border-left: 2px solid var(--color);" href="sent">Sent</a>
            <a class="sidea" href="/clear">Clear Inbox</a>
            <a class="sidea" href="/users">Block A User</a>
            <a class="sidea" href="https://booogle-two.goodvessel92551.repl.co/">Go to Booogle</a>
            <a class="sidea" href="/feedback">Feedback</a>
            <a class="sidea" href="https://replit.com/@GoodVessel92551">Follow Me</a>
            <a class="sidea" href="__repl">Like</a>
        </div>
        <div class="mail">
            <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);height:35px;">Sent</a>
            <div id="mail"><div>
        </div>
        <div class="read">
            <a style="font-size:20px;font-weight:500;border-bottom: .5px solid var(--border);">Mail</a>
            <div id="from" class="from"></div><br><br>
            <div id="about" class="readabout"></div><br><br><br>
            <div id="desc" class="readdesc"></div>
        </div>
    </div>
    <script>
        emails = {{sent|tojson}};
        name = {{name|tojson}};
        document.getElementById("top").innerText = "Booogle Mail - "+name
        console.log(emails)
        var num = 0
        var mail, id
        var i = 0
        function read(a) {
            document.getElementById("from").innerHTML = "To: "+emails[5*a]
            document.getElementById("about").innerHTML = "About: "+emails[5*a+2]
            desc = emails[5*a+3].replace(/\n/g,"<br>")
            document.getElementById("desc").innerHTML = desc
            id = emails[5*a+4]
        }
        function make() {
            mail = document.getElementById("mail")
            while (i < emails.length) {
                mail.innerHTML = '<a class="maila" onclick="read('+num+')"><div class="username">'+emails[i++]+'</div><div class="about">'+emails[i+1]+'</div><div class="desc">'+emails[i=i+2]+'</div></a>'+ mail.innerHTML
                num++
                i=i+2
                read(num-1)
            }
        }
        make()
    </script>
        <script src="/static/app.js"></script>
    </body>
</html>